.filter__label {
    display: block;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}
.filter__input {
    width: 100%;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
    width: 500px;

    &:focus {
        border-color: #3f51b5;

    }
}
.filterErr-enter {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 250ms linear; 
  }
  .filterErr-enter-active {
    opacity: 1;
    transform: translateX(0);
  }

.filterErr-exit {
    transition: all 250ms linear;
    transform: translateX(0);
    opacity: 1;
  }
  .filterErr-exit-active {
    opacity: 0;
    transform: translateX(-100%);
  }
  